<a href="{{url}}" class="carousel-card inline-block mr-20 relative shrink-0 w-1/5 aspect-[0.7]">
  <img class="w-full h-full object-cover" src="{{ img }}">
  <div class="w-full py-4 bg-ivory opacity-90 absolute bottom-0">
    <p class="text-xl text-center">{{ title }}</p>
  </div>
</a>


