<header class="fixed w-full z-10 transition-all hidden md:block">
  <nav class="py-4 flex justify-evenly text-white items-center">
    <h2 class="text-m">Portfolio</h2>
    <h2 class="text-m">Reviews</h2>
    <img id="logo-dark" class="w-60 hidden" src="{{ asset 'images/logo black.png' }}" alt="Camories logo dark"/>
    <img id="logo-light" class="w-60" src="{{ asset 'images/logo white.png' }}" alt="Camories logo light"/>
    <h2 class="text-m">About Us</h2>
    <h2 class="text-m">Contact</h2>
  </nav>
</header>

<header class="md:hidden fixed w-full z-10 transition-all flex justify-evenly">
    <img id="logo-dark" class="w-44 hidden" src="{{ asset 'images/logo black.png' }}" alt="Camories logo dark"/>
    <img id="logo-light" class="w-44" src="{{ asset 'images/logo white.png' }}" alt="Camories logo light"/>
</header>
