<div class="relative">
  <img class="w-full aspect-[23.5/10] object-cover" src="{{ asset (concat "images/" thumbnail-img) }}" />
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"> {{> "icons/play" }} </div>
  <h2 class=" absolute bottom-8 left-1/2 -translate-x-1/2 text-white font-serif font-semibold text-5xl">{{ title }}</h2>
</div>
