{{!< default}}

<section class="relative">
  <img class="w-screen h-screen object-cover" src="{{ asset 'images/4.png' }}" alt="Couple holding hands" />
  <div class="absolute top-2/3 left-1/2 -translate-x-1/2">
    {{> "cta-light" heading="Talk to us" }}
  </div>
</section>

<section class="flex justify-center items-stretch px-28 py-20 bg-ivory">
  <h3 class="pr-12 py-12 font-serif text-6xl border-r border-biege">
    It's all about some memories and a camera.
  </h3>
  <div class="pl-28 py-12 text-2xl flex justify-center items-center">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius, massa et pulvinar suscipit, dolor justo accumsan ipsum, at ornare nunc arcu eu nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </p>
  </div>
</section>

<section class="pt-32 w-full">
  <h1 class="font-serif text-5xl font-medium text-center mb-16 text-gray">Check Out Our Work</h1>
  {{> "video-thumbnail" thumbnail-img="5.png" title="Ananya x Ranveer" }}

  <h2 class="font-serif text-center text-5xl mt-20 mb-16 text-gray">Stories</h2>
  {{> featured-carousel }}

  <div class="flex justify-content items-center mt-16">
    {{> "cta-dark" heading="More Stories" }}
  </div>
</section>
